.x-picture{ position:absolute; display:block; border:1px solid red; /*display:none;*/ /*opacity:0; filter:alpha(opacity=30); background-color:#FFF;*/ font-family:"Microsoft Yahei",Tahoma,Arial; font-size:1.0em; background-image:url(about:blank);}
.x-picture-exit{height:24px; line-height:24px; padding:0 10px; position:absolute; left:0; top:0; background-color:#CCC; color:#FFF; text-decoration:none;  }
.x-picture-zoom{ width:80px; height:80px; position:absolute; right:0; top:0; border:1px solid #0981C6; display:none;}
.x-picture-move .x-picture-zoom{ display:block;}
.x-picture-region{ width:0; height:0; position:absolute; z-index:3; border:1px solid red; display:none; cursor:move; }
.x-picture-edit{ width:220px; padding:10px; position:absolute; z-index:3; border:1px solid #0981C6; background-color:#FAFAFA; margin-top:10px; display:none;}
.x-picture-tag{ position:absolute; z-index:2; }
.x-picture-face{/* border:3px solid #CCC;*/ margin-bottom:10px;}
.x-picture-name{ width:50px; padding:5px 10px; border-radius:5px; background-color:#FFF; border:1px solid #0981C6; text-align:center; display:none; position:absolute;}
.x-picture-show .x-picture-face{  border:2px solid #0981C6;}
.x-picture-show .x-picture-name{ display:block;}
.x-picture-arrow{height:0px; font-size:0; line-height:0; position:absolute; top:-5px; left:10px;}
.x-picture-arrow em{top:0; left:10px; border-color:#0981C6;}
.x-picture-arrow span{top:1px; left:10px; border-color:#FFF;}
.x-picture-arrow em, .x-picture-arrow span{position:absolute; display:block; line-height:0; font-size:0; border-width:0 5px 5px; border-right-color:transparent; border-left-color:transparent; border-style:outset outset solid outset;
_border-style: dotted dashed solid dashed;}
.x-picture-region-lt, .x-picture-region-rt, .x-picture-region-lb, .x-picture-region-rb{ width:5px; height:5px; position:absolute; background-color:#F00; display:block;}
.x-picture-region-lt{left:0; top:0; cursor:nw-resize;}
.x-picture-region-rt{ right:0; top:0; cursor:ne-resize;}
.x-picture-region-lb{ left:0; bottom:0; cursor:sw-resize;}
.x-picture-region-rb{ right:0; bottom:0; cursor:nw-resize;}
.x-picture-dragging .x-picture-edit{ display:none;}
.x-picture-dragging .x-picture-region{ cursor:default;}
.x-picture-dragging .x-picture-region-lt, .x-picture-dragging .x-picture-region-rt, .x-picture-dragging .x-picture-region-lb, .x-picture-dragging .x-picture-region-rb{ display:none;}
.x-picture-dragging .x-picture-region-on{ cursor:move;}
.x-picture-dragging .x-picture-region-lt-on{cursor:nw-resize;}
.x-picture-dragging .x-picture-region-lt-on .x-picture-region-lt{ display:block;}
.x-picture-dragging .x-picture-region-rt-on{cursor:ne-resize;}
.x-picture-dragging .x-picture-region-rt-on .x-picture-region-rt{ display:block;}
.x-picture-dragging .x-picture-region-lb-on{cursor:sw-resize;}
.x-picture-dragging .x-picture-region-lb-on .x-picture-region-lb{ display:block;}
.x-picture-dragging .x-picture-region-rb-on{cursor:nw-resize;}
.x-picture-dragging .x-picture-region-rb-on .x-picture-region-rb{ display:block;}
.x-picture-edit textarea{height: 18px;width: 90%; overflow: hidden;padding: 5px 4px;word-wrap: break-word;line-height: 18px;outline: none;border: 1px solid #ccc;border-radius: 2px;color: #808080;box-shadow: 1px 1px 1px 0px #eaeaea inset;resize: none;}
.x-picture-edit input{ border:1px solid #D9D9D9; background-color:#1B6264; padding:4px 8px; border-radius:4px; color:#FFF;}